* {
    box-sizing: border-box;
}
/* body {
    background-image: linear-gradient(to bottom right, #F8C294, #A14D70);
} */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.flex1 {
    align-items: flex-start;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    /* width: 10%; */
    /* grid-auto-flow: row; */
}

.news_card {
    width: 290px;
    border-bottom: 2px solid #F8C294;
    text-align: left;
    padding: 3px;
    /* margin-right: 5px; */

}
.top_card {
    text-align: left;
}
.channel {
    color: red;
    font-weight: bold;
}
.head_english {
    border: 2px solid #A61E4D;
    padding: 10px;
    margin-left: 50px;
}

img {
    width: 280px;
    object-fit: cover;
}
.news_right {
    display: flex;
    justify-content: right;
}
.news_left {
    display: flex;
    justify-content: left;
    /* padding: 5px; */
}

h2 {
    color:rgb(31, 29, 29);
    font-weight: bold;
    /* text-align: right; */
}
h3 {
    color:#fff;
    font-weight: bold;
    font-size: 2.25rem;
    text-align: left;
    border: 2px solid rgb(121, 3, 3) ;
    background-color: #FA5252;
    width: 400px;
}

.btn_source {
    border: 0;
    background-color: #fff;
    border: 2px solid #FA5252;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
}
.btn_source_all {
    background: #FA5252;
    color: #fff;
}
h1 {
    font-size: 3rem;
}
.topnews_side {
    /* border-top: 1px solid #FA5252; */
    border-bottom: 1px solid #FA5252;
    width: 35%;
    margin: 5px;
}

.topnews_card {
    border: 1px solid #FA5252;
    width: 98%;
    height: 400px;
}
.img_topnews {
    width: 60%;
    padding: 5px;
    height: 400px;

}
.topnews_card_title {
    font-size: 2rem;
    color: rgb(31, 29, 29);
    text-align: left;
    border-bottom: 1px solid #FA5252;
    padding-top: 40px;
}

.both_card {
    display: block;
}
.right_panel {
    margin-left: 20px;
}